<div class="play-audio" layout="row" layout-align="center center">
  <div class="play-controls" layout="row" layout-align="center center">
   <button class="icon-button">
     <i class="material-icons small">skip_previous</i>
   </button>
   <button class="icon-button">
    <i class="material-icons">
      {{ service.playingSong ? "pause" : "play_arrow" }}
    </i>
   </button>
   <button class="icon-button">
    <i class="material-icons small">
      skip_next
    </i>
   </button>
  </div>
  <div class="play-line" layout="column">
    <div class="music-detail" layout="row" layout-align="start end">
      <h4 class="music-name">动物世界</h4>
      <h6 class="author">薛之谦</h6>
    </div>
    <div class="line">
      <i class="icon circle"></i>
      <div class="played-line"></div>
    </div>
  </div> 
  <div class="play-controls-group">
    <button class="icon-button">
      <i class="material-icons clear-border">volume_up</i>
    </button>
    <button class="icon-button">
      <i class="material-icons clear-border">
        {{loop ? "repeat_one" : "repeat"}}
      </i>
    </button>
  </div>
</div> 