<ion-header>
  <ion-navbar color="primary" layout="row" layout-align="center center">
    <ion-title [style.display]="isSearching ? 'none' : 'block'" class="page-title">Music</ion-title>
    <!--<ion-searchbar [style.display]="!isSearching ? 'none' : 'block'"></ion-searchbar>-->


    <button ion-button icon-only (click)="toggleSearchBar()" class="circle-button no-shadow">
      <ion-icon [name]="!isSearching ? 'search' : 'arrow-round-back'"></ion-icon>
    </button>
    <div [style.display]="!isSearching ? 'none' : 'flex'" class="search-parent-box">
      <form (ngSubmit)="searchMusic()" #search="ngForm" novalidate layout="row" layout-align="center center">
        <input type="search" name="searchText" [(ngModel)]="searchText" required
               placeholder="请输入你要搜索的歌曲名字"
               id="search-input"/>
      </form>
    </div>
  </ion-navbar>
</ion-header>

<ion-content class="list" layout="row">
  <ion-list class="play-list" *ngIf="!isSearching">
    <music-item type="play" *ngFor="let song of music.playSongs" [playing]="playingSong && playingSong.id === song.id"
                [song]="song" (play)="playSong($event)" (add)="addSong($event)"></music-item>
  </ion-list>
  <div class="search-list" *ngIf="isSearching">
    <ion-list *ngIf="!searchSongs.length">
      <ion-item *ngFor="let text of cacheSearchText">
        <p (click)="clickCacheSearchText(text)">
          {{text}}
        </p>
        <ion-icon name="ios-close" item-right (click)="deleteSearchText(text)"></ion-icon>
      </ion-item>
    </ion-list>
    <ion-list *ngIf="searchSongs.length">
      <music-item type="search" *ngFor="let song of searchSongs"
                  [song]="song" (play)="playSong($event)" (add)="addSong($event)"></music-item>
    </ion-list>
  </div>

  <music-audio></music-audio>
</ion-content>
