/* this file will be extracted to main dist folder and is imported in index.html */
/* This file is for setting global styles  */
@import 'variables';

nav {
  margin-top: 16px;
}

nav a {
  background-color: $nav-button-color;
  color: white;
  padding: 8px 16px;
  margin: 8px;
  vertical-align: middle;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
}

*[layout] {
  display: flex;
  display: -webkit-flex;

  &[layout=row] {
    flex-direction: row;
  }

  &[layout=column] {
    flex-direction: column;
  }

  &[layout-wrap] {
    flex-wrap: wrap;
  }

  &[layout-nowrap] {
    flex-wrap: nowrap;
  }

  $rowPosition: ("start": flex-start, "center": center, "end": flex-end, "between": space-between, "around": space-around);
  $colPosition: ("start": flex-start, "end": flex-end, "center": center, "stretch": stretch, "baseline": baseline);

  @each $rowKey, $rowValue in $rowPosition {
    @each $colKey, $colValue in $colPosition {
      // "\"" + $rowKey + " " + $colKey + "\""
      &[layout-align="#{$rowKey} #{$colKey}"] {
        justify-content: $rowValue;
        align-items: $colValue;
      }
    }
  }

  // &[layout-align="start start"] {
  //   justify-content: flex-start;
  //   align-items: flex-start;
  // }

  // &[layout-align="start center"] {
  //   justify-content: flex-start;
  //   align-items: flex-start;
  // }
}

*[flex] {
  flex: 1 1 auto;
}

@for $i from 1 through 20 {
  *[flex="#{$i * 5}"] {
    width: $i * 5%;
    flex: 0 0 auto;
  }
}