// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
*[layout] {
  display: flex;
  display: -webkit-flex;

  &[layout=row] {
    flex-direction: row;
  }

  &[layout=column] {
    flex-direction: column;
  }

  &[layout-wrap] {
    flex-wrap: wrap;
  }

  &[layout-nowrap] {
    flex-wrap: nowrap;
  }

  $rowPosition: ("start": flex-start, "center": center, "end": flex-end, "between": space-between, "around": space-around);
  $colPosition: ("start": flex-start, "end": flex-end, "center": center, "stretch": stretch, "baseline": baseline);

  @each $rowKey, $rowValue in $rowPosition {
    @each $colKey, $colValue in $colPosition {
      // "\"" + $rowKey + " " + $colKey + "\""
      &[layout-align="#{$rowKey} #{$colKey}"] {
        justify-content: $rowValue;
        align-items: $colValue;
      }
    }
  }

  // &[layout-align="start start"] {
  //   justify-content: flex-start;
  //   align-items: flex-start;
  // }

  // &[layout-align="start center"] {
  //   justify-content: flex-start;
  //   align-items: flex-start;
  // }
}

*[flex] {
  flex: 1 1 auto;
}

@for $i from 1 through 20 {
  *[flex="#{$i * 5}"] {
    width: $i * 5%;
    flex: 0 0 auto;
  }
}
