.search-form {
  // height: 50px;
}

.search-input {
  background: rgb(234, 234, 234);

  border: 1px solid rgb(150, 150, 150);
  border-radius: 8%/50%;
  outline: none;
  height: 24px;
  font-size: 14px;
  padding: .1em 1em;
  color: #333;

  &.hide {
    width: 0;
  }
}

.search-btn {
  background-image: url("/assets/icon/search.png");
  background-color: transparent;
  background-size: 100% 100%;

  width: 18px;
  height: 18px;

  border: none;
  outline: none;

  padding: 3.8px 0;
  margin: 0 10px;

  cursor: pointer;
}